/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
body{
    margin:0;
    
}

#hero{
    background-color:#540B51 ;
    height: 100vh;
}

nav{
    display: flex;
}

.nav-container{
    display: flex;
    align-items: center;
    margin:20px;
 }

.nav-container img{
    width: 140px;
}

.nav-container ul{
    display: flex;
    gap: 20px;
}

.nav-container li{
    display: block;
}

.nav-container li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}

.nav-actions{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex-grow: 1;
    
}

.nav-actions button{
    background-color: #540B51;
    border: none;
}

.header-container{
    display: flex;
    justify-content: center;
    padding: 100px;
}

h1{
    color: white;
    font-size: 80px;
    
}

header div > img{
    width: 500px;
}

header div p{
    color:white;
    font-size: 25px;
}

header div p span{
    color:#ECB12F
}

.button-container{
    display: flex;
    gap: 20px;   
}

.sign-up-google img{
    width: 20px;
    background-color: white;
    margin: 5px 5px;
    padding:10px;
}

.sign-up-email{
    background-color:#F3EAE2;
    color:#540B51;
    padding:0px 70px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.sign-up-google{
    background-color:#4285F4;
    color: white;
    border: none;
    border-radius: 5px;
    padding:0px 40px 0px 0px;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  .trusted-companies{
    background-color: #F3EAE2;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;;
 }

  .trusted-companies p{
    font-size: 20px;
    text-transform: uppercase;
  }

 .trusted-companies div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
 }

 .trusted-companies div img{
    height: 50px;
    width: auto;
 }

 .statistics{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.statistics h3{
    color: #540B51;
    font-size: 40px;
}

.statistics p{
    font-size: 20px;
    margin-top: 0;
}

.statistics-percentages{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.statistics-percentages li{
    font-weight: bold;
    width:160px;
}   

.statistics ul li p span{
    font-size: 50px;
    color:#540B51;      
}

.try{
    background-color: #540B51;
    height: 300px;
    display: flex;
    flex-direction: column;  
    height:auto;
    padding-bottom: 50px;  
}

.try h3 {
    color: white;
    font-size: 45px;
    text-align: center;
}

.try-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.try-buttons button{
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    padding:20px 5px;
    font-size: 1em;
    width: 200px;       
}

.button-try-free{
    background-color: white;
    color: #540B51;    
}

.button-sales{
    background-color: #540B51;
    border-color: white;
    border-width: 2px;
    color: white;
}

hr{
    color: #454245;
    opacity: 0.5;
    width: 90%;
    margin: 50px;
}

.links-bar{
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    font-weight: bold;
    font-size: 0.9em;
    margin: 0px 30px ;
}

.download-slack-button{
    color:#2E71A6 ;
    
}

.social-net{
    display: flex;
    margin: 30px;
    list-style-type: none;
    justify-content: flex-start;
    gap: 40px;
}

small{
    margin: 20px;
    padding: 50px;
}